%h3= "Your new password for Jim's App - Members!"
%p
  %strong= 'You may login to your account by following this url:'
  %br
  %a{ :href => @url }= @url
%p
  %strong= 'And using these credentials:'
  %br
  = 'Email address: ' + @user.email_address
  %br
  = 'Password: ' + @password