= "Your new password for Jim's App - Members!\r\n"
="\r\n"
= "You may login to your account by following this url:\r\n"
= @url + "\r\n"
= "\r\n"
= "And using these credentials:\r\n"
= "Email address: " + @user.email_address + "\r\n"
= "Password: " + @password