- model_class = User
%h3=t '.title', :default => model_class.model_name.human.pluralize.titleize

= form_tag(users_path, method: 'get', :class => 'form-inline', :id => 'users_search') do
  .form-group
    = hidden_field_tag(:authenticity_token, form_authenticity_token)
    = hidden_field_tag(:direction, params[:direction])
    = hidden_field_tag(:sort, params[:sort])
    = text_field_tag(:search, params[:search], :autofocus => true)
    = submit_tag('Search', :class => 'btn btn-mini btn-default')
    = link_to('Clear', users_path, :class => 'btn btn-mini btn-default')

%table.table.table-striped
  %thead
    %tr
      %th
        = sortable_link 'email_address'
        %i{ :class => sortable_class('email_address') }
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.email_address, user_path(user)

= will_paginate @users

= link_to t('.new', :default => t("helpers.links.new")), new_user_path, :class => 'btn btn-primary'
