- model_class = User
.container
  .row
    .span8.offset2
      %h3=t '.title', :default => model_class.model_name.human.titleize

      .container
        .row
          .span4
            =display_field(@user.email_address, 'Email Address')
          .span4
            %strong= 'Permissions:'
            %br
            = display_permission(@user.view_members_allowed?, 'View Members')
            = display_permission(@user.edit_members_allowed?, 'Edit Members')
            = display_permission(@user.view_users_allowed?, 'View Users')
            = display_permission(@user.edit_users_allowed?, 'Edit Users')


      .row
        %br
        %div{ :class => 'span7', :style => 'text-align: right;' }
          = link_to t('.back', :default => t("helpers.links.back")), users_path(:sort => session[:users_sort], :direction => session[:users_direction], :page => session[:users_page], :search => session[:users_search]), :class => 'btn'
          - if User.find(session[:user]).edit_users_allowed?
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
