.container
  .row
    .col-md-4.col-md-offset-4
      %h3= 'Forgot Password'
      - if !@error.nil?
        .alert.alert-danger
          %small= @error
      - if !@success.nil?
        .alert.alert-success
          %small= @success
  .row
    .col-md-4.col-md-offset-4
      .jumbotron
        = form_tag(forgot_path, :method => 'post', :id => 'forgot_password_form') do
          .form-group
            = label_tag(:email_address, 'Email Address', :style => 'width: 100%;')
            = text_field_tag(:email_address, '', :class => 'form-control', :style => 'width: 100%;', :autofocus => true)
          .form-group
            = submit_tag('Submit', :class => 'btn btn-default pull-right')